{%  extends 'base.html' %}

{% block content %}

<div class="autorinfo"> <h6> I'm Szymon Cebula, I have a genuine interest in technology, and coding feels like building something new every time. My goal is to make websites that are not just helpful but also feel fun and interesting for people to use.</h6></div>

<div class="autorlist">
 
    <div>
        <ul>
            <li><span><b>University</b></span><br>Cracow University of Economics</li>
            <li><span><b>Field of study</b></span><br>Applied Informatics</li>
            <li><span><b>Why this field</b></span><br> I find joy in analyzing challenges and crafting efficient solutions and I'm excited about the constant evolution of technology. I believe computer science is a powerful force shaping how we live, work and communicate.</li>
            <li><span><b>Expectations</b></span><br>I'm looking forward to gain a deep understanding of foundational computer science problems, developing practical skills, and staying on time with the latest industry trends. I'm eager to expand my knowledge and problem-solving abilities.</li>

        </ul>
    </div>
    <div>
        <ul>
            <li><span><b>School</b></span><br>In my academic journey so far, I have demonstrated a strong commitment to learning and adapting to new challenges. By the time, I have successfully completed several hundred programming tasks and I am eager to build upon this foundation during my studies.</li>
            <li><span><b>Sport</b></span><br>I have earned over fifty medals in various handball tournaments, including international competitions for example in Italy, Spain, or Czech Republic. Despite me being younger than my teammates and counterparts, we secured the 7th position in national tournament.</li>
            <li><span><b>Coding</b></span><br>Delving into the realms of design and coding allows me to transform imagination into reality. You can bring to life anything you can dream up, and that's what intrigues me the most. It's like art, where everyone can express themselves in their own unique way.</li>

        </ul>
    </div>
</div>
{% endblock %}
