{% extends 'base.html' %}

{% block content %}

<div class="autorinfo"> <h6> Nazywam się Szymon Cebula, mam prawdziwą pasję do technologii, a programowanie sprawia, że za każdym razem czuję, jakbym budował coś nowego. Moim celem jest tworzenie stron internetowych, które są nie tylko pomocne, ale także sprawiają, że korzystanie z nich jest przyjemne i interesujące dla użytkowników.</h6></div>

<div class="autorlist">
 
    <div>
        <ul>
            <li><span><b>Uniwersytet</b></span><br>Uniwersytet Ekonomiczny w Krakowie</li>
            <li><span><b>Kierunek studiów</b></span><br>Informatyka Stosowana</li>
            <li><span><b>Dlaczego ten kierunek?</b></span><br> Czerpię radość z wyzwań i opracowywania efektywnych rozwiązań, a także fascynuje mnie ciągła ewolucja technologii. Wierzę, że jest to potężne narzędzie, które kształtuje sposób, w jaki żyjemy, pracujemy i komunikujemy się.</li>
            <li><span><b>Oczekiwania</b></span><br>Licze na zdobycie głębokiego zrozumienia podstawowych zagadnień informatyki, rozwijanie praktycznych umiejętności oraz utrzymanie tempa z najnowszymi trendami w branży. Chcę poszerzać swoją wiedzę i zdolności rozwiązywania problemów.</li>

        </ul>
    </div>
    <div>
        <ul>
            <li><span><b>Edukacja</b></span><br>W mojej dotychczasowej drodze akademickiej wykazałem się dużym zaangażowaniem w naukę i adaptację do nowych wyzwań. Do tej pory udało mi się skończyć kilkaset zadań programistycznych i jestem gotów, aby kontynuować rozwój tej wiedzy w dalszym trakcie studiów oraz po ich zakończeniu.</li>
            <li><span><b>Sport</b></span><br> Zdobyłem ponad pięćdziesiąt medali w różnych turniejach piłki ręcznej, w tym międzynarodowych zawodach, takich jak we Włoszech, Hiszpanii czy Czechach. Mimo że byłem młodszy od moich kolegów z drużyny oraz przeciwników, razem udało nam się zająć 7. miejsce w Mistrzostwach Polski.</li>
            <li><span><b>Programowanie</b></span><br> Zagłębianie się w obszar projektowania i kodowania pozwala mi przekształcać wyobraźnię w rzeczywistość. Można ożywić wszystko, co się wymarzy, i to właśnie najbardziej mnie fascynuje. To jak sztuka, w której każdy może wyrazić siebie w unikalny sposób.</li>

        </ul>
    </div>
</div>
{% endblock %}
