{% extends 'base.html' %}
{% block content %}

<div class="product-container">
    <div class="product-header">
        <h2>Strona produktu: {{product.product_name}}</h2>
        <p class="product-id">ID: {{product_id}}</p>
    </div>

    <div class="product-content">
        <!-- Lewa kolumna -->
        <div class="product-card">
            <h4>Statystyki:</h4>
            <ul class="stat-list">
                <li><strong>Liczba opinii:</strong> {{product.opinions_count}}</li>
                <li><strong>Zalety:</strong> {{product.pros_count}}</li>
                <li><strong>Wady:</strong> {{product.cons_count}}</li>
                <li><strong>Średnia ocena:</strong> {{product.average_stars}}</li>
            </ul>
            <h4 class="mt-4">Rekomendacje:</h4>
            <ul class="stat-list">
                {% for recommendation, count in product.recommendations_distribution.items() %}
                    <li><strong>{{recommendation}}:</strong> {{count}}</li>
                {% endfor %}
            </ul>

        </div>

        <!-- Prawa kolumna -->
        <div class="product-insights">
            <h4>Rozkład gwiazdek:</h4>
            <ul class="stat-list">
                {% for star, count in product.stars_distribution.items() %}
                    <li>
                        <strong>{{star}} ⭐:</strong> {{count}}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


    {% if error is defined %}
    <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
        <strong><i class="bi bi-exclamation-diamond-fill"></i> Uwaga!</strong> {{ error }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
</div>
{% endblock %}
